<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {{> header}}
    <h3>About page contents goes here....</h3>

    {{> footer}}
  </body>
</html>
